txt.txt
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Door Monitor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "injectSensor",
    "type": "inject",
    "z": "flow1",
    "name": "Poll Sensor every 5s",
    "props": [{"p":"payload"}],
    "repeat": "5",
    "once": true,
    "onceDelay": "0.1",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 160,
    "y": 80,
    "wires": [["sensorInput"]]
  },
  {
    "id": "sensorInput",
    "type": "your-hardware-input",
    "z": "flow1",
    "name": "4–20 mA Sensor Read",
    "config": {
      /* configure this node for your physical sensor,
         e.g. Raspberry Pi ADC, serial, GPIO, etc. */
    },
    "x": 360,
    "y": 80,
    "wires": [["functionClamp"]]
  },
  {
    "id": "functionClamp",
    "type": "function",
    "z": "flow1",
    "name": "Clamp & Map to %",
    "func": "var current = parseFloat(msg.payload);\nif (isNaN(current)) return null;\n// enforce 4–20 mA\nif (current < 4) current = 4;\nif (current > 20) current = 20;\n// map to 0–100%\nvar percent = (current - 4) / 16 * 100;\nmsg.current = current;\nmsg.percent = percent;\nmsg.payload = percent;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 80,
    "wires": [["ui_gauge1","functionState"]]
  },
  {
    "id": "ui_gauge1",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Door Position",
    "group": "ui_group1",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Position",
    "label": "%",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 820,
    "y": 40,
    "wires": []
  },
  {
    "id": "functionState",
    "type": "function",
    "z": "flow1",
    "name": "Determine State",
    "func": "msg.state = (msg.percent >= 50) ? \"OPEN\" : \"CLOSED\";\nmsg.payload = msg.state + \" (\" + msg.percent.toFixed(1) + \"% \" + (msg.state === \"OPEN\" ? \"open\" : \"closed\") + \")\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 820,
    "y": 120,
    "wires": [["ui_text1","rbe1"]]
  },
  {
    "id": "ui_text1",
    "type": "ui_text",
    "z": "flow1",
    "group": "ui_group1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Door State",
    "label": "State",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1060,
    "y": 120,
    "wires": []
  },
  {
    "id": "rbe1",
    "type": "rbe",
    "z": "flow1",
    "name": "On Change",
    "func": "rbe",
    "gap": "",
    "start": "",
    "property": "state",
    "x": 1060,
    "y": 200,
    "wires": [["functionLog"]]
  },
  {
    "id": "functionLog",
    "type": "function",
    "z": "flow1",
    "name": "Log Events",
    "func": "var log = context.get('log') || [];\nvar entry = {\n  ts: new Date().toISOString(),\n  message: \"Door \" + (msg.state === \"OPEN\" ? \"opened\" : \"closed\") +\n           \" (\" + (msg.state === \"OPEN\" ? msg.percent.toFixed(1) + \"% open\" :\n                                       (100 - msg.percent).toFixed(1) + \"% closed\") + \")\"\n};\nlog.push(entry);\ncontext.set('log', log);\nmsg.logs = log;\nmsg.entry = entry;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1300,
    "y": 200,
    "wires": [["ui_template1","functionCSV"]]
  },
  {
    "id": "ui_template1",
    "type": "ui_template",
    "z": "flow1",
    "group": "ui_group2",
    "name": "Event Log",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<table style=\"width:100%\">\n  <tr ng-repeat=\"entry in msg.logs.slice().reverse()\">\n    <td>{{entry.ts}}</td>\n    <td>{{entry.message}}</td>\n  </tr>\n</table>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 1520,
    "y": 160,
    "wires": []
  },
  {
    "id": "functionCSV",
    "type": "function",
    "z": "flow1",
    "name": "Format CSV",
    "func": "msg.payload = msg.entry.ts + \",\" + msg.entry.message.replace(/,/g, ' ') + \"\\n\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1520,
    "y": 240,
    "wires": [["fileOut"]]
  },
  {
    "id": "fileOut",
    "type": "file",
    "z": "flow1",
    "name": "Append CSV Log",
    "filename": "/home/pi/door_log.csv",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 1720,
    "y": 240,
    "wires": []
  },
  {
    "id": "ui_tab1",
    "type": "ui_tab",
    "z": "flow1",
    "name": "Door Monitor",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group1",
    "type": "ui_group",
    "z": "flow1",
    "name": "Status",
    "tab": "ui_tab1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group2",
    "type": "ui_group",
    "z": "flow1",
    "name": "Log",
    "tab": "ui_tab1",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  }
]
