txt.txt
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Door Monitor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "modbusServer",
    "type": "modbus-client",
    "name": "Modbus TCP",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "192.168.1.100",
    "tcpPort": "502",
    "unit_id": "1",
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "timeout": 2000,
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "modbusRead",
    "type": "modbus-read",
    "z": "flow1",
    "name": "Read 4–20 mA Register",
    "topic": "",
    "unitid": 1,
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "1",
    "rate": "5",
    "rateUnit": "Second",
    "delayOnStart": false,
    "startOffset": true,
    "showStatusActivities": false,
    "showErrors": false,
    "server": "modbusServer",
    "x": 160,
    "y": 80,
    "wires": [["functionClamp"]]
  },
  {
    "id": "functionClamp",
    "type": "function",
    "z": "flow1",
    "name": "Clamp & Map to %",
    "func": "var current = parseFloat(msg.payload[0]);\nif (isNaN(current)) return null;\nif (current < 4) current = 4;\nif (current > 20) current = 20;\nvar percent = (current - 4) / 16 * 100;\nmsg.current = current;\nmsg.percent = percent;\nmsg.payload = percent;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 80,
    "wires": [["ui_gauge1","functionState"]]
  },
  {
    "id": "ui_gauge1",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Door Position",
    "group": "ui_group1",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Position",
    "label": "%",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 620,
    "y": 40,
    "wires": []
  },
  {
    "id": "functionState",
    "type": "function",
    "z": "flow1",
    "name": "Determine State",
    "func": "msg.state = (msg.percent >= 50) ? \"OPEN\" : \"CLOSED\";\nmsg.payload = msg.state + \" (\" + msg.percent.toFixed(1) + \"% \" + (msg.state === \"OPEN\" ? \"open\" : \"closed\") + \")\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 120,
    "wires": [["ui_text1","rbe1"]]
  },
  {
    "id": "ui_text1",
    "type": "ui_text",
    "z": "flow1",
    "group": "ui_group1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Door State",
    "label": "State",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 860,
    "y": 120,
    "wires": []
  },
  {
    "id": "rbe1",
    "type": "rbe",
    "z": "flow1",
    "name": "On Change",
    "func": "rbe",
    "gap": "",
    "start": "",
    "property": "state",
    "x": 860,
    "y": 200,
    "wires": [["functionLog"]]
  },
  {
    "id": "functionLog",
    "type": "function",
    "z": "flow1",
    "name": "Log Events",
    "func": "var log = context.get('log') || [];\nvar entry = {\n  ts: new Date().toISOString(),\n  message: \"Door \" + (msg.state === \"OPEN\" ? \"opened\" : \"closed\") +\n           \" (\" + (msg.state === \"OPEN\" ? msg.percent.toFixed(1) + \"% open\" :\n                                       (100 - msg.percent).toFixed(1) + \"% closed\") + \")\"\n};\nlog.push(entry);\ncontext.set('log', log);\nmsg.logs = log;\nmsg.entry = entry;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1100,
    "y": 200,
    "wires": [["ui_template1","functionCSV"]]
  },
  {
    "id": "ui_template1",
    "type": "ui_template",
    "z": "flow1",
    "group": "ui_group2",
    "name": "Event Log",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<table style=\"width:100%\">\n  <tr ng-repeat=\"entry in msg.logs.slice().reverse()\">\n    <td>{{entry.ts}}</td>\n    <td>{{entry.message}}</td>\n  </tr>\n</table>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 1320,
    "y": 160,
    "wires": []
  },
  {
    "id": "functionCSV",
    "type": "function",
    "z": "flow1",
    "name": "Format CSV",
    "func": "msg.payload = msg.entry.ts + \",\" + msg.entry.message.replace(/,/g, ' ') + \"\\n\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1320,
    "y": 240,
    "wires": [["fileOut"]]
  },
  {
    "id": "fileOut",
    "type": "file",
    "z": "flow1",
    "name": "Append CSV Log",
    "filename": "/home/pi/door_log.csv",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 1520,
    "y": 240,
    "wires": []
  },
  {
    "id": "ui_tab1",
    "type": "ui_tab",
    "z": "flow1",
    "name": "Door Monitor",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group1",
    "type": "ui_group",
    "z": "flow1",
    "name": "Status",
    "tab": "ui_tab1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group2",
    "type": "ui_group",
    "z": "flow1",
    "name": "Log",
    "tab": "ui_tab1",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  }
]
